/*_landing_login_html style start*/


.login-bg{
	  background-image: url("../images/1_landing_login.jpg");
    background-position: 27% 36%;
	 background-size: cover;

}
.login{
	padding:120px 200px 40px 200px;
	/* padding-left:300px;
	padding-right:200px; */
}
footer {
    background: transparent;
    text-align: center;
    padding-bottom: 100px;
}
.login-first{
	height:504px;
  width:45%;
  background-color: #042541;
}
.s-connect{
	padding-left:30px;
		
	
}
.s-color{
	color:#008000;
}
.c-color{
	color:#1c74bc;
}
.welcome{
	padding-left:30px;
	font-size:20px;
	color:#1c74bc;
	padding-top:268px;
}
.join{
	padding-bottom:25px;
	padding-left:30px;
	font-size:14px;
	color:#979797;
}

.login-second{
  background-color: #ffffff;
	height:504px;
	width:45%;
    


}
.log-txt{
	padding-left:48px;
	color:#313131;
	    padding-top: 20px;

}
.t-cont{
	    padding-bottom: 47px;

	padding-left:48px;
	color:#81919f;
}
fieldset { 
height:48px;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  /* padding-top: 0.35em;
  padding-bottom: 0.625em; */
  padding-left: 0.72em;
  padding-right: 0.75em;
  border:2px solid #1c74bc;
  border-radius:4px;

}
legend{
	width:30%;
}
.e-mail{
	white-space: nowrap;
    font-size:12px;
	color:#1c74bc;
	padding-left: 4px;
    border: 0;
}
.e-id{
	    margin-top: -15px;

	color:#313131;
	font-size:14px;
}
.pwd{
	padding-top:30px;
}

.form-control{
	    border: 1px solid #979797;
height:36px!important;
}
#input_container{
	padding-top:30px;
}
#input_img{
	float:right;
	margin-top: -28px;
    margin-right: 10px;
    width: 20px;
}
/* .pwd1{
	height:52px;
	padding-right:270px;
	    border-radius: 4px;

} */
.forgot-pwd{
	float:right;
	font-size:14px;
	padding-top:20px;
	color:#313131;


}
.nxt-btn{
/* 	padding:10px 190px 10px 100px;
 */	
         padding: 10px 120px 10px 139px;


	color:#ffffff;
	
	background-color:#1c74bc;
	border-radius:4px;
}
.btn-align{
	    /* padding-left: 95px; */
        padding-top:74px;
}

.create{
	color:#313131;
	font-size:14px;
}
.form-align{
	padding-left:45px;
	padding-right:40px;
}
.create-align{
	text-align:center;
	padding-top:30px;
	
}
.s-logo{
	    padding-top: 48px;
    padding-left: 30px;

	width:80%;
}
.close{
	float:right;
	padding-top:12px;
	width:22px;
}

@media only screen and (max-width: 768px) {
.login-second{
  
width:100%;
}
	.login{
		padding:0px;
	}
	.welcome{
		    padding-top: 95px;

	}
	.nxt-btn{
	padding: 5px 15px 5px 15px;
	}
	.login-first{
  width:100%;
}
}
/*_landing_login style end*/


/*landing_forgot_password style start*/
.forgot-pwd-bg{
	background-image: url("../images/1_landing_login.jpg");
	 background-position: 27% 36%;
	  background-size: cover;
}
.forgot-first{
	background-color:#042541;
	      width: 360px;

   /*  width: 390px; */

}
.forgot-second{
    height: 502px;
    width: 480px;

	background-color:#ffffff;
}
.forgot-align{
	padding-left:233px;
	padding-top:148px;
	    padding-right: 153px;
		padding-bottom:100px;

}
.forgot-pwd-txt{
	    padding-left: 30px;
    padding-top: 50px;
	color:#313131;
	font-size:30px;
}
.enter{
	color:#81919f;
	padding-left:32px;
    font-size:14px;

}
.submit{
	padding-top:70px;
	letter-spacing:-0.09px;
	color:#81919f;
	padding-left:32px;
}
.sub-btn{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:164px;
	padding-right:164px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
.forgot-form{
	padding-left:35px;
	padding-right:40px;
	    padding-top: 35px;

}
.sub-align{
	     padding-left: 0px; 

	padding-top:45px;
}

@media only screen and (max-width: 1024px) {
     .login {
          padding: 120px 80px 200px;
     }
     .login-first, .login-second{
          width: 50%;
     }
}

@media only screen and (max-width: 768px) {
	.forgot-align{
		padding:0px;
	}
	.forgot-second{
	    
    width: 100%;}
	.sub-btn{
	padding-left:105px;
	padding-right:105px;
	}
}
	/* .forgot-second{
	   width: 390px!important;
} */

/*landing_forgot_password style end*/

/*landing_create_an_account style start*/
.sig-bg{
	 background-image: url("../images/1_landing_login.jpg");
    background-position: 27% 36%;
	 background-size: cover;
	
}
.sign-align{
	padding-top:115px;
	padding-right:112px;
	padding-left:340px;
	padding-bottom:100px;
}
.sign-first{
	width:45%;
	background-color:#042541;
}
.sign-second{
	height:616px;
	background-color:#ffffff;
}
.sign-para{
	padding-top:300px;
	color:#81919f;
	font-size:14px;
	padding-left:32px;
}
.sign-list{
	
	color:#81919f;
}
.list-align{
	padding-top:10px;
}
.create-accnt{
	color:#313131;
	font-size:30px;
	padding-top:30px;
}
.accnt-align{
	padding-left:40px;
}
.c-cont{
	color:#81919f;
	padding-left:5px;
	font-size:15px;
}
.done{
	float:right;
}
.accnt-form{
	padding-left:20px;
	padding-right:20px;
}
.ast-color{
	color:red;
}
.accnt-email{
	padding-top:30px;
}
.accnt-email1{
    border-radius: 4px;
	border-color:#e3e8ec;
	width:100%;
	height:40px;
}
.agree{
	padding-top:30px;
}
.nxt-align{
	 padding-left: 12px; 

	padding-top:40px;
	
}
.sub-btn1{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:122px;
	padding-right:164px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
.do-u{
	text-align:center;
	padding-top:30px;
}
@media only screen and (max-width: 768px) {
	.sign-align{
	
	padding:0px;
	}
	.sign-first{
	width:100%;
	}
	.sub-btn1{
padding-right:15px;
	
	padding-left:15px;
}
.sign-second{
	    padding-right: 30px;

}
.sign-para{
	padding-top:30px;
}
}
/*landing_create_an_account style end*/



/*landing_account_created style start*/
.accnt-create-bg{
	  background-image: url("../images/1_landing_login.jpg");
    background-position: 27% 36%;
	 background-size: cover;
	
}
.accnt-create-first{
	background-color:#042541;
	    height: 560px;
width:40%;
	
}
 .accnt-create-second{
	 height:560px;
	 background-color:#ffffff;
 }
 .accnt-create-align{
	     padding-top: 100px;
padding-bottom:100px;
	 padding-left:250px;
	 padding-right:184px;
 }
 .create-logo{
	 padding-top: 48px;
    padding-left: 30px;

	width:50%;
 }
 .profile{
	  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  color:#ffffff;
  padding-left:14px;
  font-size:20px;
  padding-top:10px;
 }
 .john{
	 padding-top:220px;
	 padding-left:40px;
 }
 .js{
	 color:#1c74bc;
	 font-size:20px;
	 padding-left:5px;
 }
 .j-detail{
	 font-size:12px;
	 color:#313131;
	 padding-left:10px;
 }
 .sent{
	 padding-left:40px;
	 font-size:12px;
 }
 .sent-align{
	 padding-left: 35px; 

	padding-top:30px;
	
}
.sent-btn{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:50px;
	padding-right:50px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
.create-logo1{
	 padding-top: 48px;
    padding-left: 30px;

	width:80%;
 }
 @media only screen and (max-width: 768px) {
	 .accnt-create-align{
		 padding:0px;
	 }
	 .sent-btn{
	padding-left:5px;
	padding-right:5px;
	 }
	 .accnt-create-first{
	width:100%;
	    height: 200px;
	 }
	 .john{
	 padding-top:30px;
	 }
	 
 }
/*landing_account_created style end*/


/*landing_welcome style start*/
.welcome-sema{
	color:#313131;
	font-size:20px;
	padding-top:30px;
}
.welcome-sent-align{
	 padding-left: 40px; 

	padding-top:30px;
	
}
.welcome-sent-btn{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:80px;
	padding-right:80px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
.sent1{
	 padding-left:50px;
	 font-size:12px;
 }
 .j-smith{
	 padding-top:200px;
	 padding-left:30px;
 }
 .js-align{
	 padding-top:5px;
 }
 
 @media only screen and (max-width: 768px) {
 .j-smith{
	 padding-top:20px;
	 
 }
 .accnt-create-second{
	 height:560px!important;
 }
 }
/*landing_welcome style end*/


/*landing_congratulations style start*/
.congo-bg{
	  background-image: url("../images/1_landing_login.jpg");
    background-position: 27% 36%;
	    background-size: cover;


}
.congo-first{
	    width: 40%;
height:530px;
	background-color:#042541;
}

.congo-second{
	background-color:#ffffff;
}
.congo-align{
	padding-bottom:100px;
	padding-left:280px;
	    padding-right: 130px;
		padding-top:100px;

}
.hello{
	padding-left:6px;
	color:#313131;
	font-size:14px;
}
.congo-cont{
	color:#81919f;
	padding-left:2px;
	font-size:15px;
}
.congo-para{
	font-size:12px;
}
.bullet{
	height:8px;
  width: 8px;
  background-color: #1c74bc;
  border-radius: 50%;
  display: inline-block;
}
.bullet-para{
	font-size:12px;
	padding-left:5px;
}
.congo-btn-align{
	 padding-left: 65px; 

	padding-top:30px;
	
}
.congo-btn{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:50px;
	padding-right:50px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
.skip{
	text-align:center;
	padding-top:30px;
	padding-left:30px;
}
.skip-txt{
	color:#313131;
}
 @media only screen and (max-width: 768px) {
	 .congo-align{
		 padding:0px;
	 }
	 .congo-first{
		 height:130px;
	    width: 100%;
	 }
	 .congo-btn{
	
	padding-left:10px;
	padding-right:10px;
 }
 }
/*landing_congratulations style end*/

/*landing_payment style start*/
.payment-bg{
	  background-image: url("../images/1_landing_login.jpg");
    background-position: 27% 36%;
	 background-size: cover;


}
.payment-first{
	    height: 560px;

	width:45%;
	background-color:#042541;
}
.payment-second{
	height: 560px;
	width:55%;
	background-color:#ffffff;
}
.payment-align{
	    padding-left: 315px;
    padding-right: 160px;
    padding-top: 100px;
	padding-bottom:100px;

}
.setup{
	padding-top:25px;
	padding-left:32px;
}
.accnt-setup{
	font-size:20px;
	color:#ffffff;
}
.vl {
  border-left: 2px solid #1c74bc;
  /* height: 500px; */
}
.pay-txt{
	color:#ebf5fa;
	font-size:14px;
}
.pay-txt1{
	    padding-top: 10px;

	color:#81919f;
	font-size:14px;
}
.card-align{
	padding-left:40px;
}
.card-pay{
	color:#313131;
	font-size:30px;
	padding-top:30px;
}
.card-txt{
	color:#81919f;
	padding-left:2px;
	font-size:14px;
}
.card-para{
	font-size:13px;
	    text-align: justify;
		padding-right:15px;

}
.card-no{
	  white-space: nowrap;
     font-size:12px;
	color:#1c74bc;
}
.card-form{
	padding-right:35px;
}
.month{
	padding-top:30px;
}
#card-img{
	 float:right; 
	margin-top:-33px;
}
.cvv{
	padding-top:30px;
}
.card-btn{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:55px;
	padding-right:55px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
	
	
}
.card-btn1{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:55px;
	padding-right:55px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
@media only screen and (max-width: 768px) {
.payment-align{
	padding:0px;
}
.payment-first{
	width:100%;
}
.payment-second{
	width:100%;
}
.year-mbl{
	padding-top:30px;
}

}
/*landing_payment style end*/

/*landing_network_pass style start*/
.card-para1{
	font-size:12px;
	    text-align: justify;
		padding-right:15px;

}
.check-btn{
	width:5%;
}
.network{
	padding-top:20px;
	padding-bottom:20px;
}
.network-para{
	padding-bottom:30px;
}
/*landing_network_pass style end*/


/*a_landing_notification style start*/
.note-line{
	color:#e3e8ec;
	width:47%;
	height:2px;
	padding-left:159px;
	margin-right:22px;
}
.notify-square{
	margin-top:20px;
	width: 300px;
 height: 320px;  
  /*padding: 50px; */
  padding-left:20px;
  padding-top:15px;
  border: 1px;
  box-shadow: 0px 1px 2px 2px rgba(0, 17, 32, 0.3)


}

.stn-btn1{
	padding-top:12px;
	padding-bottom:12px;
	padding-left:40px;
	padding-right:40px;
	color:#ffffff;
	border-radius:4px;
	background-color:#1c74bc;
}
/*a_landing_notification style end*/

.stn-align{
	    padding-top: 25px;

	 padding-left: 160px; 

	/* padding-top:30px; */
	
}
.stn-first{
	    height: 600px;

	width:45%;
	background-color:#042541;
}
.stn-second{
	height: 600px;
	width:55%;
	background-color:#ffffff;
}
@media only screen and (max-width: 768px) {
	.stn-first{
		width:100%;
	}
	.stn-second{
		width:100%;
	}
}

/* 02182019 start */
.card-left-btn{
	border:1px solid #e3e8ec;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:55px;
	padding-right:55px;
	color:#000000;
	border-radius:4px;
	background-color:#ffffff;
	
	
}
.list-align1{
	padding-left:30px;
}
.list-align2{
	    padding-left: 10px;

	color:#81919f;
}
.sign-second1{
	height:598px;
	background-color:#ffffff;
}
.nxt-btn-btn{
/* 	padding:10px 190px 10px 100px;
 */	
         padding: 10px 145px 10px 145px;


	color:#ffffff;
	
	background-color:#1c74bc;
	border-radius:4px;
	font-size: 12px;
}
.nxt-btn-btn:hover,.nxt-btn-btn:focus{
	color: #ccc;
	text-decoration: none;
}
@media only screen and (max-width: 768px) {

.nxt-btn-btn{
	padding:20px 50px;
}
}
/* 02182019 end */

/* 03172019 start */
@media only screen and (max-width: 768px) {
	.card-btn1{
	/* padding-top:12px;
	padding-bottom:12px; */
	padding-left:25px;
	padding-right:25px;
	
}
.card-left-btn{
	/* padding-top:12px;
	padding-bottom:12px; */
	padding-left:25px;
	padding-right:25px;
}
.nxt-align{
	    padding-left: 23px;
        padding-top:40px;
}
.form-align{
	padding-left:0px;
	padding-right:0px;
}
}
/* 03172019 end */